@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@500&display=swap');

/* 
font-family: 'Roboto Slab', serif; 
font-family: 'Montserrat', sans-serif;
*/

.project {
  height: 80vh;
  border-bottom: 1px solid black;
}

.top {
  padding-top: 55px;
  text-align: center;
  text-transform:uppercase;
  font-style: italic;
  margin: 0;
  margin-bottom: 50px;
  font-family: 'Roboto Slab', serif; 
  font-size: 2.5rem;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 80px;
  --swiper-theme-color:#263547;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 720px;
  height: 450px;
  position: relative;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  height: 100%;
  width: auto;
  /* object-fit: cover; */
} 

:root {
  --swiper-theme-color:#263547;
}


.info {
  padding: 0;
  margin: 0;
  text-align: center;
  color:white;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 720px;
  
  
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 2.5px );
  border: 1px solid rgba(0, 0, 0, 0.18);

  cursor: pointer;
  
}

.title{
  font-size: 2rem;
  padding: 10px 0px 2px 20px;
  margin: 0;
  padding: 20px 0 20px 0;
  color: #DE1A1A;
  text-shadow: 1px 1px 2px #263547;
  font-family: 'Roboto Slab', serif; 
}


/* .corner {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  width:  90px;
  text-align: center;
  color:blue;
  position: absolute;
  top: 15px;
  right: -15px;
  transform: rotate(40deg);
  font-weight: bold;
} */


@media only screen and (max-width: 730px) {
  .swiper-slide {
    width: 300px;
    height: 300px;
  }

  .info {
    height: 60px;
    width: 300px;
  }

  .swiper-container {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
  }



  .title {
    padding: 13px 0 10px 0;
    font-size: 1.3rem;
  }

  .project{
    height: 80vh;
  }
}