@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sedgwick+Ave+Display&display=swap');

.introduction {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  border-bottom: 1px solid black;
}

.name {
  margin:0;
  font-family: 'Permanent Marker', cursive;
  /* font-family: 'Sedgwick Ave Display', cursive; */
  font-size: 6rem;
  text-decoration: underline;
}

.job {
  font-family: 'Sedgwick Ave Display', cursive;
  /* font-family: 'Permanent Marker', cursive; */

}

.button {
  font-size: 2rem;
  border: none;
  background-color: #fd4345;
  font-family: 'Permanent Marker', cursive;

  padding: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 821px) {
  .name {
    font-size: 4.5rem;
  }
  .job {
    font-size: 3.5rem;
  }

  .button {
    font-size:1.5rem;
  }

}

@media only screen and (max-width: 650px) {
  .name {
    font-size: 3.5rem;
  }
  .job {
    font-size: 2.5rem;
  }

  .button {
    font-size:1.5rem;
  }

}

@media only screen and (max-width: 500px) {
  .name {
    font-size: 2.5rem;
  }
  .job {
    font-size: 1.8rem;
  }

  .button {
    font-size:1.1rem;
  }

}